body {
    background-color: rgb(50, 50, 147);
}

.popup {
    display: flex;
    flex-direction: column;
}

.inside-popup {
    display: flex;
}
.image-square {
    width: 180px;
    min-width: 180px;
}
.image-square a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.image-square a img {
    max-width: 100%;
}
.info-buy {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    -webkit-box-flex: 1;
    min-width: 0;
}

.inside-info-buy {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.info-text {
    display: flex;
    flex-direction: column;
    min-width: 0px;
}
.info-text a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info-text a h4 {
    font: var(--podium-cds-typography-body1-strong);
}
.info-shoes {
    white-space: nowrap;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.control-info {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0px;
}